# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#configs folder
*/bin/Debug/configs/*.config
*/bin/Release/configs/*.config
!*/bin/Release/configs/base.config
!*/bin/Debug/configs/base.config

#config file that are alway overwritten on execution
*/bin/Debug/OneClickToProd.exe.[cC]onfig
*/bin/Debug/OneClickToProd.vshost.exe.[cC]onfig
*/bin/Release/OneClickToProd.exe.[cC]onfig
*/bin/Release/OneClickToProd.vshost.exe.[cC]onfig
