
<appSettings>
  <add key="SVNSource" value="" />
  <add key="SVNDestination" value="" />
  <add key="SVNUserName" value="" />
  <add key="SVNCreateSVNTag" value="false" />
  <add key="MySqlHost" value="" />
  <add key="MySqlUser" value="" />
  <add key="MySqlDatabase" value="" />
  <add key="SSHHost" value="" />
  <add key="SSHUser" value="" />
</appSettings>
